@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	--primary-color: #9370db;
	--second-font: #eb9ab7;
	--light-font: #faf5f5;
	/* line-height: 1em; */
	--dark-theme: #282626;
}
body {
	font-family: "Josefin Sans", cursive;
	/* line-height: 1em; */
	background-color: #282626;
}
html {
	scroll-behavior: smooth;
}
p {
	line-height: 1.5em;
	color: var(--light-font);
}
.icons {
	display: flex;
	justify-content: center;
	margin: 1rem;
}
@media only screen and (max-width: 768px) {
	.icons {
		justify-content: space-around;
	}
}
svg {
	margin: 0 0.5rem;
	cursor: pointer;
}
/* svg:hover {
	fill: var(--primary-color);
	color: var(--primary-color);
} */
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: auto;
	/* padding: 2em 0; */
	height: 10vh;
}
.menu {
	margin-left: auto;
}
.logo {
	height: 3em;
}
.header {
	background: linear-gradient(90deg, var(--dark-theme) 70%, var(--light-font) 30%);
	/* background-color: brown; */
	background-size: contain;
	background-position: right;
	/* min-height: 90vh; */
	/* width: 100%; */
	background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
	.header {
		background: linear-gradient(180deg, var(--dark-theme) 70%, var(--light-font) 30%);
	}
}
.header-body {
	display: flex;
	align-items: center;
	width: 70%;
	margin: auto;
	/* padding: 2em 0; */
	height: 45rem;
	justify-content: space-between;
}
@media only screen and (max-width: 768px) {
	.header-body {
		flex-direction: column;
		min-height: 80vh;
	}
}
.header-body h1 {
	color: var(--primary-color);
	font-size: 4em;
	width: 70%;
}
.header-body p {
	color: var(--light-font);
	width: 60%;
	margin-top: 10px;
}
@media only screen and (max-width: 768px) {
	.header-body {
		width: 90%;
		flex-direction: column;
		height: 100%;
	}
	.engine {
		width: 80%;
	}
	.header h1 {
		font-size: 2.5em;
		margin: auto;
		width: 80%;
	}
	.header-body p {
		width: 80%;
		margin: 2em auto;
		/* text-align: center; */
	}
}
.extra {
	align-content: flex-end;
	position: absolute;
	bottom: 2em;
	color: var(--second-font) !important;
	width: 60%;
	vertical-align: bottom;
}
@media only screen and (max-width: 768px) {
	.extra {
		position: static;
		text-align: center;
		width: 80%;
		margin: 3em auto;
	}
	.engine {
		width: 80%;
	}
}

.extra p {
	color: var(--light-font);
	font-weight: 600;
	/* line-height: 1.5em; */
}
.header_description {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	position: relative;
}
/* .header-image_image {
	height: 35em;
	max-width: 35em;
} */
.header-image {
	position: relative;
	z-index: 1000;
}
@media only screen and (max-width: 768px) {
	.header-image {
		width: 75%;
	}
}
.boxes {
	height: 100%;
}
/* .header-image {
	height: 100%;
}
.header-image_image {
	height: 100%;
	
} */
.box-1 {
	position: absolute;
	right: 13%;
	top: 20%;
}
.box {
	height: 100%;
}
/* .box-2 {
	position: absolute;
	bottom: 10%;
	left: 10%;
} */
.major {
	position: relative;
	top: 0;
}
.major {
	position: absolute;
	top: 27%;
	height: 26em;
	width: 20em;
	margin-left: 10px;
	/* height: 26em;
	width: 21em;
	margin-left: 10px;
	margin-top: 15px; */
}
.heading {
}
.heading h2 {
	text-align: center;
	color: var(--light-font);
}

.about-body {
	margin-top: 2em;
	position: relative;
}
.design,
.engineering {
	display: flex;
	width: 70%;
	margin: auto;
	align-items: center;
	justify-content: space-between;
	padding: 4em 0;
	/* min-height: 50vh; */
	/* position: relative; */
}
@media only screen and (max-width: 768px) {
	.design,
	.engineering {
		flex-direction: column;
		width: 80%;
		align-items: end;
		justify-content: flex-start;
		padding: 1em 0;
		min-height: 100%;
		/* position: relative; */
	}
	.design-content,
	.engineering-content {
		margin-top: 1.5em;
	}
	.design {
		flex-direction: column-reverse;
	}
}
.design-heading,
.engineering-heading {
	color: var(--primary-color);
}

.engine {
	width: 50%;
}
.eng-image {
	height: 100%;
	width: 100%;
}
.design-image,
.engineering-image {
	height: 2.5em;
}
.about {
	/* min-height: 100vh; */
	padding: 5em 0;
	height: 100%;
	/* position: relative; */
	overflow: hidden;
}
.about {
	background-color: #6229d9;
}

.about p {
	color: white;
}
.about h1 {
	color: var(--second-font);
}
.design-title,
.engineering-title {
	text-align: center;
	width: 50%;
}
.design-image,
.engineering-image {
	margin: auto;
}
@media only screen and (max-width: 768px) {
	.engineering {
		flex-direction: column;
	}
	.engine {
		width: 100%;
	}
	.design-title,
	.engineering-title {
		text-align: left;
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.design h1,
	.engineering h1 {
		font-size: 3rem;
	}
}

.right-line {
	position: absolute;
	right: -1em;
	bottom: 0;
	z-index: 1;
}
.left-line {
	position: absolute;
	left: -1em;
	top: 0;
}
.quick {
	background-color: var(--light-font);
	padding: 3rem 0;
	position: relative;
	overflow: hidden;
}
.quick p {
	color: var(--dark-theme);
}

.quick > h1 {
	color: var(--primary-color);
	width: 70%;
	margin: auto;
	position: relative;
	overflow: hidden;
}
.quick-body {
	width: 70%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.quick-body_content,
.quick-body_image {
	width: 50%;
	position: relative;
}
.quick-body_content p {
	width: 80%;
}
@media only screen and (max-width: 768px) {
	.quick-body {
		flex-direction: column;
		width: 80%;
	}
	.quick-body_content,
	.quick-body_image {
		width: 100%;
	}
	.quick-body_content p {
		margin-top: 2rem;
		width: 100%;
	}
	.quick > h1 {
		width: 80%;
	}
}
.dots2 {
	position: absolute;
	right: -8em;
	bottom: 0;

	/* top: 0; */
}
.dots1 {
	position: absolute;
	left: -8em;
	top: 0;
}
@media only screen and (max-width: 768px) {
	.dots2,
	.dots1 {
		display: none;
	}
}

.portfolio {
	padding: 5rem 0;
	width: 70%;
	margin: auto;
}
.hvr-float-shadow {
	display: inline-block;
	vertical-align: middle;
	/* -webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0); */
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-float-shadow:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 100%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	/* W3C */
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
	/* move the element up by 5px */
}
.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
	/* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
.hvr-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}
.hvr-underline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	bottom: 0;
	background: #2098d1;
	height: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
}

.portfolio h1 {
	color: var(--light-font);
	text-align: center;
	margin: 1rem 0;
}
.portfolio-projects {
	display: flex;
	justify-content: space-around;
}
.project-card {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	width: 30%;
	background-color: white;

	/* padding: 1rem; */
	/* background-color: white; */
	/* margin: 1rem; */
	/* border: 1px solid var(--light-font); */
}
.project-image {
	height: 15rem;
	background-color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.proj-img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.project-body {
	/* border: 1px solid var(--light-font); */
	height: 100%;
	padding: 0.5rem;
	/* background-color: var(--primary-color); */
	height: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* border: 1px solid var(--light-font); */
	cursor: pointer;
	background-color: #110c11;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.project-body h2 {
	color: var(--second-font);
	text-align: center;
}
.project-body p {
	color: var(--light-font);
	margin-top: 1rem;
	text-align: center;
	/* margin: 0; */
}
.view-project {
	width: 100%;
	text-align: center;
}
.btn {
	background-color: var(--dark-theme);
	border: 1px solid var(--primary-color);
	border-radius: 5px;
	padding: 0.5rem 2rem;
	color: var(--light-font);
	margin-top: 2rem;
	cursor: pointer;
}
a {
	text-decoration: none;
}
@media only screen and (max-width: 768px) {
	.portfolio-projects {
		display: block;
		justify-content: space-evenly;
	}
	.portfolio {
		width: 80%;
	}
	.project-card {
		/* width: 80%; */
		margin: 1rem auto;
		width: 100%;
	}
}

marquee {
	color: var(--second-font);
}

.contact {
	background-color: var(--light-font);
	text-align: center;
	padding: 2rem;
	background-image: url('/images/map-form.svg');
	background-size: initial;
	background-repeat: no-repeat;
	background-position: center;
	/* height: 40rem; */
}
.contact h4 {
	color: var(--dark-theme);
}
.contact h2 {
	text-align: center;
	/* padding: 2rem; */
	color: var(--primary-color);
}
.contact-body {
	width: 80%;
	margin: auto;
}
.contact-input {
	width: 100%;
}
.contact-input input {
	width: 70%;
	padding: 1rem;
	border-radius: 5px;
	border: 1px solid var(--primary-color);
	/* margin: 1rem; */
	outline: none;
	background: none;
	margin: 1rem 0;
}
textarea {
	padding: 1rem;
	border-radius: 5px;
	border: 1px solid var(--primary-color);
	margin: 1rem;
	width: 70%;
	outline: none;
	background: none;
	/* height: 10rem; */
	resize: none;
}
.btn-submit {
	color: white;
	background-color: var(--primary-color);
	border: none;
	padding: 1.5rem 0;
	width: 50%;
	border-radius: 5px;
}
@media only screen and (max-width: 768px) {
	.contact-body {
		width: 95%;
	}
	.btn-submit {
		width: 80%;
		padding: 1rem 0;
	}
	.contact-input input {
		width: 90%;
		padding: 1rem;
		margin: 1rem 0;
	}
	textarea {
		width: 90%;
		margin: auto;
	}
}
.tools {
	margin-top: 0.5rem;
	color: var(--second-font);
}
